body{
  font-family: Helvetica;
  background-color: #e0e0e0;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: #262626;
  text-align: center;
}

h2{
  font-size: 32;
  font-weight: bold;
  color:#4f4646;
  text-align:center;
}

table {
  margin: 0 auto;
  width: 650px;
  border: 2px solid #5d717a;
}

th{
  font-size: 18px;
  font-weight: bold;
  color: #262626;
  background-color:#90a4ad;
}

td{
  border-top: 1px solid #9dc1d1;
}

.code{
  background-color: white;
  font-family: Monospace;
}
