/*rgb(194, 242, 233*/

html, body {
  font family: Helvetica, sans-serif;
  /* font-size declaration */
}

body {
  line-height: 1.5;
}

.menu{
  position: fixed;
  width: 100%;
}

.menu ul:before, .menu ul:after {
  content:"";
  display: table;
}
.menu ul:after {
  clear:both;
}

.menu li {
  display: inline;
  padding: 16px;
  float: right;
  margin-right: 24px;
  font-size: 18px;
}

.logo h4{
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
}


h1 {
  padding-top: 180px;
  padding-left: 240px;
  line-height: 1.2em;
  font-weight: normal;
  font-size: 36px;
}

h2{
  display: block;
  vertical-align:baseline;
  padding-left: 360px;
  padding-bottom: 130px;
  font-weight: normal;
  font-size: 36px;
}

.contact{
  padding-left: 240px;
  padding-bottom: 100px;
}

.contact h4{
  text-transform: uppercase;
  font-weight: bold;
}

.contact p{
  font-size: 18px;
  line-height: 1.5;
}

.projects{
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.projects img {
  width: 700px;
  height:500px;
}
/*
.project {
  display: flex;
  justify-content: center;
}

.row {
  display: inline-flex;
}
*/

footer{
  padding-top: 100px;
  font-size: 16px;
  margin: auto;
  width: 300px;
}

.socials li{
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
}

.info p{
text-align: center;
}



/* ABOUT ME PAGE*/

table{
  width: 55%;
  margin: 0 auto;
}

td{
  vertical-align: top;
}

td h1{
  padding-top: 180px;
  padding-bottom: 40px;
  padding-left: 80px;
  font-size: 54px;
  font-weight: bold;
  color: #44C7AF;
  margin: auto;
}

td h3 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

td p{
  font-size: 16px;
  line-height: 1.5em;
  color: black;
  padding-left: 80px;
}
