html {
  font family: Helvetica, sans-serif;
}

.menu{
  position: fixed;
  width: 100%;
}

.menu li {
  display: inline;
  padding: 16px;
  float: right;
  margin-right: 24px;
  font-size: 18px;
}

.logo h4{
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
}

table{
  width: 55%;
  margin: 0 auto;
}

td{
  vertical-align: top;
}

td h1{
  padding-top: 180px;
  padding-bottom: 40px;
  padding-left: 80px;
  font-size: 54px;
  font-weight: bold;
  color: #44C7AF;
  margin: auto;
}

td h3 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

td p{
  font-size: 16px;
  line-height: 1.5em;
  color: black;
  padding-left: 80px;
}
